@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <title></title>
</head>

<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">
            <span class="hidden-xs">GameStore - магазин компьютерных игр</span>
            <div class="visible-xs">Game</div>
            <div class="visible-xs">Store</div>
        </a>
        @*@Html.Action("Summary", "Cart")*@
        <div class="navbar-right">
            @Html.ActionLink("Выйти", "Logout", "Account", null, new { @class = "btn btn-primary" })
        </div>
        @if (PageContext.Page.User.Identity.Name != "") { 
        <div class="navbar-text navbar-right">
            <b class="hidden-xs"> Здравствуйте @PageContext.Page.User.Identity.Name!</b>            
        </div>}
    </div>
    @*<div class="navbar-right visible-xs">
            @Html.ActionLink("Выйти", "Logout", "Account", null, new { @class = "btn btn-primary" })
        </div>

        <div class="visible-xs">
            @html.action("menu", "nav", new { horizontalnav = true })
        </div>*@
    @*<div class="row panel">
            <div id="categories" class="col-sm-3 hidden-xs">
                @Html.Action("Menu", "Nav")
            </div>
            <div class="col-xs-12 col-sm-8">
                @RenderBody()
            </div>
        </div>*@
    @*<div>
            @if (TempData["message"] != null)
            {
                <div class="alert alert-success">@TempData["message"]</div>
            }
        </div>*@

    @RenderBody()
</body>
</html>