
<div class="navbar navbar-inverse" role="navigation">

    <table class="navbar navbar-inverse">
        <tr>
            <td>
                @*<a class="navbar-brand" href="#">
                    <span class="hidden-xs">GameStore</span>
                </a>
                <button class="btn btn-block btn-dartk">@Html.ActionLink("GameStore", "List", "Game")</button>*@
            </td>
            <td>
                @using (Html.BeginForm("List", "Game"))
                {
                    <input type="submit"
                           class="btn btn-link btn-lg"
                           value="GameStore" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Index", "Admin"))
                {
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="Каталог" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Index", "Order"))
                {
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="Заказы" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Index", "SoldGames"))
                {
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="Продажи" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Users", "Admin"))
                {
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="Пользователи" />
                }
            </td>
            <td>
                @using (Html.BeginForm("Index", "Roleadmin"))
                {
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="Роли" />
                }
            </td>
            @{bool nullName = PageContext.Page.User.Identity.Name == ""; }
            @if (nullName)
            {
                @*<div class="navbar-right hidden-xs">
                        @Html.ActionLink("Корзина", "Index", "Cart",
                        new { returnUrl = Request.Url.PathAndQuery },
                        new { @class = "btn btn-success btn-lg navbar-btn" })
                    </div>*@
                <td>
                    <div class="btn btn-success btn-lg">@Html.ActionLink("Войти", "Login", "Account")</div>
                </td>
                @*<td class="navbar-right hidden-xs">@Html.ActionLink("Войти", "Login", "Account",
                    new { returnUrl = Request.Url.PathAndQuery },
                    new { @class = "btn btn-success btn-lg navbar-btn" })</td>*@
            }
            <td>
                @if (!nullName)
                {
                    <div class="navbar-text navbar-right">
                        <b class="hidden-xs"> Здравствуйте @PageContext.Page.User.Identity.Name!</b>
                    </div>
                }
            </td>
            <td>
                @if (nullName)
                {
                    using (Html.BeginForm("CreateUser", "Admin"))
                    {
                        <input type="submit"
                               class="btn btn-success btn-lg"
                               value="Регистрация" />
                    }
                }
            </td>
            <td>
                @if (!nullName)
                {
                    using (Html.BeginForm("Logout", "Account"))
                    {
                        <input type="submit"
                               class="btn btn-success btn-lg"
                               value="Выйти" />
                    }
                }
            </td>
            <td>@Html.Action("Summary", "Cart")</td>
        </tr>
    </table>
</div>